@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Biblioteca MVC</h1>
    <h5>es un sitio web diseñado para facilitar el seguimiento de los libros prestados a los alumnos. Permite registrar y acceder fácilmente a información clave como el nombre del estudiante, su curso y los detalles del libro. Esto agiliza la gestión del préstamo, asegurando que se mantenga un control efectivo y se minimicen las pérdidas.</h5>

    <img src="https://cdn.pixabay.com/photo/2022/09/13/16/07/man-7452297_1280.png" alt="Presentacion"/>
</div>
