<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Biblio.Mvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Biblio.Mvc.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Biblio.Mvc</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarLigaMenu" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Alumno
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarLigaMenu">
                                <li><a class="dropdown-item" asp-controller="Alumno" asp-action="ObtenerAlumnos"><i
                                            class="bi bi-list-nested"></i> Listado</a></li>
                                <li><a class="dropdown-item" asp-controller="Alumno" asp-action="GetAltaAlumno"><i
                                            class="bi bi-plus-circle"></i> Alta</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarEquipoMenu" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Autor
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarEquipoMenu">
                                <li><a class="dropdown-item" asp-controller="Autor" asp-action="ObtenerAutores"><i
                                            class="bi bi-list-nested"></i> Listado</a></li>
                                <li><a class="dropdown-item" asp-controller="Autor" asp-action="GetAltaAutor"><i
                                            class="bi bi-plus-circle"></i> Alta</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarEquipoMenu" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Curso
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarEquipoMenu">
                                <li><a class="dropdown-item" asp-controller="Curso" asp-action="ObtenerCursos"><i
                                            class="bi bi-list-nested"></i> Listado</a></li>
                                <li><a class="dropdown-item" asp-controller="Curso" asp-action="GetAltaCurso"><i
                                            class="bi bi-plus-circle"></i> Alta</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarEquipoMenu" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Titulo
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarEquipoMenu">
                                <li><a class="dropdown-item" asp-controller="Titulo" asp-action="ObtenerTitulos"><i
                                            class="bi bi-list-nested"></i> Listado</a></li>
                                <li><a class="dropdown-item" asp-controller="Titulo" asp-action="GetAltaTitulo"><i
                                            class="bi bi-plus-circle"></i> Alta</a></li>
                                <li><a class="dropdown-item" asp-controller="Titulo" asp-action="ObtenerTitulosAutores"><i
                                            class="bi bi-plus-circle"></i> TituloAutor</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarEquipoMenu" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Editorial
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarEquipoMenu">
                                <li><a class="dropdown-item" asp-controller="Editorial" asp-action="ObtenerEditoriales"><i
                                            class="bi bi-list-nested"></i> Listado</a></li>
                                <li><a class="dropdown-item" asp-controller="Editorial" asp-action="GetAltaEditorial"><i
                                            class="bi bi-plus-circle"></i> Alta</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarEquipoMenu" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Libro
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarEquipoMenu">
                                <li><a class="dropdown-item" asp-controller="Libro" asp-action="ObtenerLibro"><i
                                            class="bi bi-list-nested"></i> Listado</a></li>
                                <li><a class="dropdown-item" asp-controller="Libro" asp-action="GetAltaLibro"><i
                                            class="bi bi-plus-circle"></i> Alta</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarEquipoMenu" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Fuera de circulación
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarEquipoMenu">
                                <li><a class="dropdown-item" asp-controller="FueraCirculacion" asp-action="ObtenerFueraCirculacion"><i
                                            class="bi bi-list-nested"></i> Listado</a></li>
                                <li><a class="dropdown-item" asp-controller="FueraCirculacion" asp-action="GetAltaFueraCirculacion"><i
                                            class="bi bi-plus-circle"></i> Alta</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Biblio.Mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
