@model Biblio.Mvc.Controllers.Modal.PrestamoModal

@{
    ViewData["Title"] = "Pedir Prestamo";
}
<h1>Pedir Prestamo</h1>
<div class="container">
    <form asp-action="AltaPrestamo" method="post" class="was-validated">
        <div class="row mb-2">
            <div class="col-sm-5 col-12">
                <label for="Nombre"><strong>ISBN</strong></label>
                <input type="text"  value="" required asp-for="ISBN" placeholder="Nombre" class="form-control">
                <div class="valid-feedback">Valido</div>
                <div class="invalid-feedback">Debe llenar el campo</div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-5 col-12">
                <label for="Apellido"><strong>N°Copia</strong></label>
                <input type="text"  value="" required asp-for="NumeroCopia" placeholder="Apellido" class="form-control">
                <div class="valid-feedback">Valido</div>
                <div class="invalid-feedback">Debe llenar el campo.</div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-5 col-12">
                <button type="submit" class="btn btn-success px-4" >Agregar</button>
            </div>
        </div>
    </form>
</div>