@model IEnumerable<Biblio.Core.Titulo>

<header>
    <h1>AutoresTitulos</h1>
</header>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr class="bg-dark text-white">
            <th>IdTitulo</th>
            <th>IdAutor</th>
        </tr>
        @foreach (var titulo in Model)
        {
                @foreach (var autor in titulo.Autores)
                {
                    <tr>
                        <td>@titulo.IdTitulo</td>
                        <td>@autor.IdAutor</td>
                    </tr>
                }
        }
    </table>
</div>