@model Biblio.Mvc.Controllers.AutorModal

<header>
    <h1>Autores</h1>
</header>
<div class="container-autor">
    <div class="fila">
        <ul class="cabecera">
            <li class="item">Id</li>
            <li class="item">Nombre</li>
            <li class="item">Apellido</li>
        </ul>
    </div>
    @foreach (var item in Model.autores!)
    {
        <div class="fila">
            <ul class="lista">
                <li class="item">@item.IdAutor</li>
                <li class="item">@item.Nombre</li>
                <li class="item">@item.Apellido</li>
            </ul>
        </div>
    }
</div>