@model Biblio.Mvc.Controllers.AutorModal
<header>
    <h1>Autores</h1>
</header>
    <form class="d-flex" asp-controller="Autor" asp-action="BuscarAutor" method="get">
    <input class="form-control me-2" value="" type="text" placeholder="Buscar Autor" aria-label="Buscar Autor" asp-for="busqueda">
    <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr class="bg-dark text-white">
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
        @foreach (var autor in Model.autores)
        {
            <tr>
                <td>@autor.Nombre</td>
                <td>@autor.Apellido</td>
            </tr>
        }
    </table>
</div>